https://www.youtube.com/watch?v=0CFFTJUZ2dc

https://github.com/jonathanrocher/pandas_tutorial

`sudo pip3 install html5lib
sudo pip3 install bs4`

In [ ]:
%matplotlib inline

In [ ]:
import pandas as pd

In [ ]:
from pandas import set_option
set_option("display.max_rows", 16)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%cd pandas_tutorial-master/demos/climate_timeseries/

In [ ]:
%ls

In [ ]:
filename = "data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"

In [ ]:
full_globe_temp = pd.read_table(filename, sep='\s+', names=["year", "mean_temp"], index_col=0, parse_dates=True)

In [ ]:
full_globe_temp

In [ ]:
mp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt", sep='\s+', skiprows=7, skip_footer=11,
             engine="python", parse_dates=[1])
mp

In [ ]:
# parse_dates acepta columnas con multiples fechas (lista de fechas), o una fecha de multiples
#columnas (lista de listas)
tablas_en_pagina= pd.read_table("data/greenhouse_gaz/co2_mm_global.txt", sep='\s+', parse_dates=[0])
tablas_en_pagina

In [ ]:
tables = pd.read_html("http://www.psmsl.org/data/obtaining/")
tables
msl=tables[0]

In [ ]:
type(tables)

In [ ]:
type(tables[0])

In [ ]:
msl.dtypes

In [ ]:
type(msl.values)

In [ ]:
msl.values

In [ ]:
len(msl.values)

In [ ]:
np.random.random((50,2))

In [ ]:
r = pd.DataFrame(data=np.random.random((50,2)), columns=['a','b'])
r['c']=r['a'].shift(3)
r

In [ ]:
rand = pd.DataFrame(data=np.random.random((500000,2)), columns=['a','b'])
rand['c']=rand['a'].shift(1024)
rand.plot.scatter(x='a',y='c',s=.0001)

In [ ]:
from pandas import DataFrame, Series
dataframe = DataFrame({'uno' : Series([1, 2, 3], index=['a', 'b', 'c']),
 'dos' : Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}, columns=['uno','dos'])
dataframe

In [ ]:
# Ej de concat y join
from numpy.random import randn
from pandas import concat
df1 = DataFrame(randn(4,2), index=['a', 'b', 'c', 'd'], columns=['c1', 'c2'])
df2 = DataFrame(randn(4,2), index=['b', 'c', 'd', 'e'], columns=['c3', 'c4'])
print("*** con axis=0 ***")
print(concat([df1, df2], axis=0))
print("*** con axis=1 ***")
print(concat([df1, df2], axis=1))
print("*** ejemplo de df1.join(df2) ***")
print(df1.join(df2))
print("*** ejemplo de df2.join(df1) ***")
print(df2.join(df1))

In [ ]:
dict_series = {'uno' : Series(['a', 'b', 'b', 'a'], index=['ind1', 'ind2', 'ind3', 'ind4']),
                 'dos' : Series([1, 1, 2, 2], index=['ind1', 'ind2', 'ind3', 'ind4'])}
df = DataFrame(dict_series)
print(df)
print(df.groupby('uno').groups)
print(df.groupby('dos').groups)

In [ ]:
x=Series([1,2,3,5], index=['one', 'two', 'three', 'five'])
y=Series(['foo', 'bar', 'baz', 'chivito'], index=[1,2,3,4])
x.map(y)

In [ ]:
def cuadrado(x):
    return x**2

import numpy as np
df = DataFrame(np.arange(100).reshape((10,10)))
df

In [ ]:
df2=df.applymap(cuadrado)
df2

In [ ]:
df2.columns=list('abcdefghij')
df2

In [ ]:
df2.index=list('ABCDEFGHIJ')
df2

In [ ]:
from pandas import Series, DataFrame
dict_series = {'uno' : Series(['a', 'b', 'b', 'a'], index=['ind1', 'ind2', 'ind3', 'ind4']),
                 'dos' : Series([1, 1, 2, 2], index=['ind1', 'ind2', 'ind3', 'ind4'])}
df = DataFrame(dict_series)
for column, values in df.iteritems():
    print(column)
    print(list(values))

In [ ]:
df2

In [ ]:
df2.to_html("tabla.html")

In [ ]:
import pandas as pd
%cd ~fhca/XDB2
df3 = pd.read_csv("tabla.txt", index_col=0)
df3

In [ ]:
df4 = pd.read_html("tabla.html", index_col=0)
df4[0]

In [ ]:
help(pd.read_html)

In [ ]:
df5 = pd.read_excel('tablita.xlsx')
df5

In [ ]:
def funcion(x):
    if x >=9:
        return 16 - x
    else:
        return x
#df5.applymap(funcion)    
df5.applymap(lambda x: 16 - x if x >= 9 else x)

In [ ]:
df5.plot()

In [ ]:
s1 = pd.Series([x * x for x in range(100)])
s1.plot()
s1

In [ ]:
l = []
for ren in range(100):
    renglon = []
    for col in range(1, 101):
        renglon.append(ren * ren * col)
    l.append(renglon)
df6=pd.DataFrame(l)
df6.plot()

In [ ]:
help(pd.DataFrame.plot)